@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #121212;
  color: #fff;
  color-scheme: dark;
  min-height: 100lvh;
}

#root, #root > * {
  height: 100lvh;
}

iframe {
  border: 0;
}